{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block additionalstyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles-base.css') }}">
{% endblock %}



{% block content %}

<body>


<div class="login-container">
   

    <!-- Display flashed messages, if any -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

</body>

{% endblock %}